/*General */

body {
  font-family: Georgia, serif;
  font-size: 100%;
}

.margin {
  margin-left: 40px;
  margin-top: 10px;
}
.paddingright {
  padding-right: 2%;
  padding-top: 5%;
}

.linehe {
  line-height: 190%;
}
/*./General */

/* NavBar Secion */

nav {
  background-color: #fff;
}

nav .navbar:hover {
  cursor: pointer;
}

/* ./NavBar Secion */

/* main Secion */
.main-doc {
  display: grid;
  grid-template-columns: 43% 30%;
  grid-template-rows: 100px;
  justify-content: center;
}

.AuthSection ul li {
  list-style-type: none;
  display: inline;
  padding-right: 2em;
  margin-left: -30px;
}

.AuthSection ul li a {
  padding: 2%;
}

/* ./main Secion */
/* aside Secion */

aside .nav {
  width: 103%;
  height: 55px;
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.2);
  background-color: #ffffff;
  display: flex;
  overflow-x: auto;
}

.tabs .nav__link {
  display: flex;
  flex-direction: column;
  margin: auto;
  flex-grow: 1;
  min-width: 10px;
  overflow: hidden;
  white-space: nowrap;
  font-family: sans-serif;
  font-size: 13px;
  color: #444444;
  text-decoration: none;
  -webkit-tap-highlight-color: transparent;
  transition: background-color 0.1s ease-in-out;
}

aside .nav .nav__link:hover {
  background-color: #eeeeee;
}

aside .nav .nav__link--active {
  color: #009578;
}

aside .nav .nav__icon {
  font-size: 18px;
}
nav .nav__link img {
  width: 20px;
  height: 10px;
}
aside + section hr {
  margin-left: 10%;
}
aside section {
  height: 50em;
  overflow-y: scroll;
  overflow-x: hidden;
  margin: 0;
  width: 101%;
}
/* ./aside Secion */

.tabs__radio {
  display: none;
}

.tabs__content {
  order: 1;
  width: 100%;
  border-bottom: 3px solid #dddddd;
  line-height: 1.5;
  font-size: 0.9em;
  display: none;
  background-color: #e8e8e8;
}

figure {
  padding-top: 6%;
  margin-block-start: 0em;
  margin-block-end: 0em;
  margin-inline-start: 15px;
}

aside label {
  padding-top: 7%;
  margin: auto;
}

.tabs__radio:checked + .tabs__label {
  font-weight: bold;
  color: #484848;
  border-bottom: 2px solid #484848;
}

.tabs__radio:checked + .tabs__label + .tabs__content {
  display: initial;
}

.tabs {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.tabs__label:hover {
  cursor: pointer;
}

.tabs__label {
  line-height: 37px;
}

aside {
  width: 30%;
  position: fixed;
  z-index: 1;
  top: 80px;
  left: 45%;
  overflow-x: hidden;
  padding: 8px 0;
}

.navbar-container {
  overflow: hidden;
  position: fixed;
  top: 0;
  margin-bottom: 20%;
  width: 100%;
}
main {
  padding: 16px;
  margin-top: 3%;
}

.breakout-section {
  display: none;
}

@media screen and (max-width: 900px) {
  /* General Secion */
  main section h1 {
    padding-top: 10%;
  }
}

@media screen and (max-width: 700px) {
  /* General Secion */
  .body {
    position: relative;
  }

  main section h1 {
    padding-top: 20%;
  }

  /* ./General Secion */

  /* aside Secion */
  aside {
    position: absolute;
  }

  aside label {
    padding-bottom: 5%;
  }

  aside label span,
  aside .tabs__content {
    display: none !important;
    padding-bottom: 20%;
  }

  .tabs {
    display: flex;
    flex-direction: column;
    margin-left: 34% !important;
    background-color: #fff !important;
    width: 103%;
    height: 500%;
    top: 10%;
    left: -36%;
  }

  label img:active {
    background-color: #009578;
  }



  /* ./aside Secion */

  /* main Secion */

  .holder {
    display: none;
  }
  .breakout-section {
    position: absolute;
    display: block;

    z-index: 2;
    padding: 1px 20px;

    background-color: white;

    width: 93%;
    margin-left: -15px;
    margin-top: -20px;
    cursor: pointer;
  }
  .breakout-input {
    cursor: pointer;
    border: none;

    background-color: white;
    font-size: 20px;
  }

  .navbar-container {
    display: none;
  }

  .first-one {
    display: block !important;
  }

  .first-one11 {
    display: grid !important;
    grid-gap: 20px;
    align-items: center;
    justify-content: center;
    margin-bottom: -750px;
  }
  body > main > section > aside > label {
    display: none;
  }

  .third {
    margin-left: 0% !important;
    background-color: #fff !important;
    width: 10%;
    height: 20;
    height: 300%;
    top: 60px;
    left: 90%;
    padding: 0;
  }
  /* .breakout-section:hover ~  section aside > label  {
  display: block
} */
  .forth {
    visibility: hidden;
    height: 900px;
  }
    .tabs__radio:checked ~ section {
    display: block !important;

    margin-right: 100px;
    background-color: #fff;
    -ms-overflow-style: none; /* for Internet Explorer, Edge */
    scrollbar-width: none; /* for Firefox */
    overflow-y: scroll;
  }
  .tabs__radio:checked ~ section::-webkit-scrollbar {
    display: none; /* for Chrome, Safari, and Opera */
  }
}

/* 
  /* main Secion */
